.Header{
    min-height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* gap: 100px; */
}   
.Header img{
    max-width: 6%;
}
.HeaderContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.HeaderContent p:first-child{
    color: #294a70;
    font-size: 28px;
    font-weight: bold;
    line-height: 1;
    margin: 0;
}
.HeaderContent p:last-child{
    color: #666666;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1.4px;
    margin: 0;
}